<?xml version="1.0" encoding="UTF-8"?>
<web-app>

	<!-- App Config  -->
	<servlet>
		<servlet-name>appConfig</servlet-name>
		<jsp-file>/config/GetAppConfig.jsp</jsp-file>
	</servlet>
	<servlet-mapping>
		<servlet-name>appConfig</servlet-name>
		<url-pattern>/api/config/appconfig</url-pattern>
	</servlet-mapping>
	
	<!-- User  -->
	<servlet>
		<servlet-name>registerUser</servlet-name>
		<jsp-file>/user/RegisterUser.jsp</jsp-file>
	</servlet>
	<servlet-mapping>
		<servlet-name>registerUser</servlet-name>
		<url-pattern>/api/user/register</url-pattern>
	</servlet-mapping>	
	
	<!-- Naver  -->
	
	<servlet>s
		<servlet-name>naverLogin</servlet-name>
		<jsp-file>/naver/NaverLogin.jsp</jsp-file>
	</servlet>
	
	<servlet>
		<servlet-name>naverCafeSignup</servlet-name>
		<jsp-file>/naver/CafeSignup.jsp</jsp-file>
	</servlet>
	
	<servlet>
		<servlet-name>naverCallback</servlet-name>
		<jsp-file>/naver/ServiceCallback.jsp</jsp-file>
	</servlet>
	
	<servlet>
		<servlet-name>requestToken</servlet-name>
		<jsp-file>/naver/RequestToken.jsp</jsp-file>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>naverLogin</servlet-name>
		<url-pattern>/api/naver/login</url-pattern>
	</servlet-mapping>
	
	<servlet-mapping>
		<servlet-name>naverCafeSignup</servlet-name>
		<url-pattern>/api/naver/cafesignup</url-pattern>
	</servlet-mapping>
	
	<servlet-mapping>
		<servlet-name>naverCallback</servlet-name>
		<url-pattern>/naver/callback</url-pattern>

	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>requestToken</servlet-name>
		<url-pattern>/api/token</url-pattern>
	</servlet-mapping>
	
	
	<!-- News feeds -->
	<servlet>
		<servlet-name>resetData</servlet-name>
		<jsp-file>/info/ResetData.jsp</jsp-file>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>resetData</servlet-name>
		<url-pattern>/api/data/reset</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>mainData</servlet-name>
		<jsp-file>/info/MainData.jsp</jsp-file>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>mainData</servlet-name>
		<url-pattern>/api/data/main</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>notiDadta</servlet-name>
		<jsp-file>/info/NoticeData.jsp</jsp-file>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>notiDadta</servlet-name>
		<url-pattern>/api/data/noti</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>imageData</servlet-name>
		<jsp-file>/info/ImageInfo.jsp</jsp-file>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>imageData</servlet-name>
		<url-pattern>/api/data/image</url-pattern>
	</servlet-mapping>
	
	<!-- Admin -->
	<servlet>
		<servlet-name>adminLogin</servlet-name>
		<jsp-file>/admin/AdminLogin.jsp</jsp-file>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>adminLogin</servlet-name>
		<url-pattern>/admin/login</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>adminError</servlet-name>
		<jsp-file>/admin/AdminError.jsp</jsp-file>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>adminError</servlet-name>
		<url-pattern>/admin/error</url-pattern>
	</servlet-mapping>
	
	<!-- Push -->
	<servlet>
		<servlet-name>sendPush</servlet-name>
		<jsp-file>/push/SendPush.jsp</jsp-file>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>sendPush</servlet-name>
		<url-pattern>/push/send</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>checkPush</servlet-name>
		<jsp-file>/push/CheckPush.jsp</jsp-file>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>checkPush</servlet-name>
		<url-pattern>/push/check</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>deletePush</servlet-name>
		<jsp-file>/push/DeletePush.jsp</jsp-file>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>deletePush</servlet-name>
		<url-pattern>/push/delete</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>adminPush</servlet-name>
		<jsp-file>/admin/AdminPush.jsp</jsp-file>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>adminPush</servlet-name>
		<url-pattern>/admin/push</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>adminPushDetail</servlet-name>
		<jsp-file>/admin/AdminPushDetail.jsp</jsp-file>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>adminPushDetail</servlet-name>
		<url-pattern>/admin/push/detail</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>adminImageInfo</servlet-name>
		<jsp-file>/admin/AdminImageInfo.jsp</jsp-file>
	</servlet>
	
	<!-- Image Info -->
	<servlet-mapping>
		<servlet-name>adminImageInfo</servlet-name>
		<url-pattern>/admin/info/image</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>adminImageInfoDetail</servlet-name>
		<jsp-file>/admin/AdminImageInfoDetail.jsp</jsp-file>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>adminImageInfoDetail</servlet-name>
		<url-pattern>/admin/info/image/detail</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>adminImageInfoUpdate</servlet-name>
		<jsp-file>/imageinfo/UpdateImageInfo.jsp</jsp-file>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>adminImageInfoUpdate</servlet-name>
		<url-pattern>/admin/info/image/update</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>adminImageInfoDelete</servlet-name>
		<jsp-file>/imageinfo/DeleteImageInfo.jsp</jsp-file>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>adminImageInfoDelete</servlet-name>
		<url-pattern>/admin/info/image/delete</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>adminImageInfoAdd</servlet-name>
		<jsp-file>/imageinfo/AddImageInfo.jsp</jsp-file>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>adminImageInfoAdd</servlet-name>
		<url-pattern>/admin/info/image/add</url-pattern>
	</servlet-mapping>
	
	<!-- App Setting -->
	<servlet>
		<servlet-name>adminAppInfo</servlet-name>
		<jsp-file>/admin/AdminAppConfigInfo.jsp</jsp-file>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>adminAppInfo</servlet-name>
		<url-pattern>/admin/info/app</url-pattern>
	</servlet-mapping>
	
	<!-- 설정 -->
    <servlet-mapping>
        <servlet-name>default</servlet-name>
        <url-pattern>*.css</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>default</servlet-name>
        <url-pattern>*.js</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>default</servlet-name>
        <url-pattern>*.gif</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>default</servlet-name>
        <url-pattern>*.jpg</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>default</servlet-name>
        <url-pattern>*.png</url-pattern>
    </servlet-mapping>

</web-app>  